/* Title and header */

h1 {
	color: yellow;
}

.header {
	letter-spacing: 2.5px;
	word-spacing: 7.5px;
	color: white;
}

/* background color */

html {
	background-color: black;
}

/* Styling the "Home" and "About" internal links */

.links {
	white-space: nowrap;
}

a {
	display: inline-block;
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
	padding-top: 1.3em;
}

.home {
	margin-right: 20%;
}

a:link {
	color: yellow;
}

a:visited {
	color: yellow;
}

a:hover {
	color: white;
}

a:active {
	color: yellow;
}

/* Name, Artist and Year info */

.info {
	padding-top: 3.5em;
	color: white;
	font-size: 16px;
	font-family: "Georgia", serif;
}

.name {
	padding-bottom: 10px;
}

.artist {
	padding-bottom: 10px;
}

.year {
	padding-bottom: 10px;
}

/* Image */

.image img {
	padding-top: 2.5em;
	width: 100%;
	max-width: 600px;
	height: auto;
}

/* Decription of art */

.description {
	color: white;
	line-height: 25px;
	font-family: "Georgia", serif;
	font-size: 16px;
	padding-top: 2.5em;
}

/* Footer */

footer {
	color: yellow;
	padding-top: 2.5em;
}

/* Changes source on song of the angels page */

.source {
	font-size: 12px;
}